<div class="site-description">
  <img src="{{ site.baseurl}}/assets/img/fabiomiranda.jpg" alt="Olá, Sou o Fábio Miranda!"></img>
  <p>Desenvolvedor de Software autodidata, carioca, apaixonado por tecnologia. Desenvolvedor Javascript, especializado em 
    Angular e sua stack(Typescript, RXJS). Além disso, experiência em desenvolvimento de APIs usando NodeJs(Express e Nestjs)
    e MongoDB como database.</p>

  <p>
    Atualmente, trabalho na Totvs, atuando na arquitetura de frontend de uma enorme aplicação.
  </p>

  <p>
    Estou disponível para freelas que envolvam o Angular ou o NodeJS. Caso precise, entre em contato comigo pelas redes sociais.
  </p>
</div>