<div class="site-description">
  <img src="{{ site.baseurl}}/assets/img/fabiomiranda.jpg" alt="Olá, Sou o Fábio Miranda!"></img>
  <p>Eu sou um Desenvolvedor de Software autodidata, carioca, apaixonado por tecnologia. Minha maior experiência é com
    Javascript,
    além de 3 anos trabalhando com Angular e sua stack(Typescript, RXJS). Além disso eu também trabalho há 4 anos com o
    desenvolvimento de APIs usando NodeJs(Express e Nestjs)
    e MongoDB. Também trabalhei e gostei muito de usar o Firebase(serveless).</p>

  <p>
    Atualmente estou estudando Flutter e .NET Core.
  </p>

  <p>
    O mais importante sobre mim é que eu sou um desenvolvedor e ponto, por isso consigo trabalhar com qualquer
    tecnologia,
    pois independente da tecnologia eu gosto de estudar os conceitos e assim a curva de aprendizado fica relativamente
    menor
    para qualquer ferramenta.
  </p>
</div>