.site-description {
  @extend %padding-regular;
  text-align: center;
  background-color: #cc6666;
  color: #FFF;
  font-weight: 600;

  > p {
    margin: 10px 0;
    text-align: left;
  }

  > img {
    border-radius: 50%;
    height: auto;
    margin-bottom: 1em;
    max-width: 100%;
    width: 150px;

    @media (min-width: $device-sm) {
      float: left;
      margin: 0;
      margin-right: 2em;
    }
  }
}